.login-page{
    background-image: url("/img/admin/index.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 4%;
    justify-content: flex-start !important;
}


brand-link{
    position: relative;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 59px;
}